.postit-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5vh;
}

.postit {
    height: 35vw;
    width: 35vw;
    min-width: 320px;
    min-height: 320px;
    margin: 10px;
    background-color: #E9B000;
    box-shadow: 8px 8px 7px rgba(0, 0, 0, 0.7);
}

.doneContent-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.doneContent {
    height: 30vw;
    width: 30vw;
    font-size: 3em;
    background-color: transparent;
    font-family: 'Waiting for the Sunrise', cursive;
    text-align: left;
    white-space: normal;
}

/* * {
    border: royalblue solid 1px;
} */



